.course {
    width: 316px;
    height: 448px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}

.course img {
    width: 286px;
    height: 206px;
    border-radius: 8px;
    margin: 15px;
}

.course-info {
    margin: 0 20px;
}

.course-info p {
    margin-bottom: 10px;
}

.course-name {
    margin-top: 5px;
    margin-bottom: 3px;
}

.btn {
    width: 100%;
    background: #3c97cf;
    /* border: 1px solid #95A0A7; */
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* gap: 4px; */
}