.container {
    display: grid;
    grid-template-columns: 2.6fr 1.4fr;
}

.exercise-container {
    margin: 60px 0;
}

.exercise-info {
    padding-left: 90px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3c97cf;
}

.header-icon {
    font-size: 28px;
}

.exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 0 80px;
}

.exercise-details {
    background-color: #fff;
}