.side-bar {
    padding: 20px;
}

.personal-data {
    display: flex;
    align-items: center;
    gap: 15px;
}

.personal-data img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.personal-info h3,
p {
    margin: 0;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.physical-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: #e9edf0;
    padding: 15px;
    border-radius: 8px;
}

.weight,
.height,
.age {
    display: flex;
    align-items: center;
}

.weight h2,
.height h2,
.age h2 {
    margin: 0;
}

.add-break p {
    font-size: 22px;
}

.break-time {
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: #e9edf0;
    padding: 20px 15px;
    border-radius: 8px;
}

.break-time button {
    color: #000;
    margin-right: 7px;
    margin-left: 7px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
}

.ex-title {
    font-size: 22px;
}

.ex-time,
.br-time {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e9edf0;
    margin-top: 15px;
    border-radius: 8px;
}

.btn-complete {
    width: 100%;
    border: none;
    margin-top: 45px;
    padding: 15px 0;
    color: #fff;
    background-color: #3c97cf;
    border-radius: 8px;
    font-size: 16px
}